@model dynamic

@{
    ViewBag.Title = "title";
    ViewBag.Nav = "home";
}
<h1>Food Bank</h1>
<div style="width: 100%; text-align: center;"><img src="/img/logo@2x.png" width="66%"/></div>
<blockquote>Matching people who want to donate food with people who need it.</blockquote>
<p>At least four million people in the UK do not have 
access to a healthy diet; nearly 13 million people 
live below the poverty line, and it is becoming 
harder and harder for them to afford healthy food. 
Lower-income families in the UK have cut their 
consumption of fruit and vegetables by nearly a 
third in the wake of the recession and rising food 
prices.</p>
<p><strong>Our mission is to make sure no one goes to bed hungry anymore.</strong></p>