@model dynamic
@{
    ViewBag.Title = "Donate";
}
<link href="~/css/font-awesome.css" rel="stylesheet" />
<h2>Donate Food</h2>
<div>
    <div style="float: left; margin-left: 5px; width: 90px;">
        <input type="number" id="item_quantity" value="1" min="1" max="999" />
    </div>
    <div style="float: left; margin-left: 5px; width: 500px;">
        <input style="width: 500px;" type="text" id="item_name" placeholder="Item name..." />
    </div>
    <div style="float: left; margin-left: 5px;">
        <input style="margin-top: 0" type="button" id="add_item" disabled="disabled" value="Add" />
    </div>
</div>
<div id="items_container" style="clear: both;"></div>
<div style="clear: both;">

    <input style="margin-top: 0" type="button" id="submit_donations" disabled="disabled" value="Submit" />
</div>

<script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
<script type="text/javascript" src="~/Scripts/typeahead.js"></script>
<script type="text/javascript" src="~/Scripts/hogan-2.0.0.js"></script>

<script type="text/html" id="row-template">
    <div class="row" style="clear: both; font-family: RobotoCondensed;">
        <div style="float: left; margin-left: 5px; width: 90px;" class="first-column"></div>
        <div style="float: left; margin-left: 5px; width: 500px;" class="second-column"></div>
        <div style="float: left; margin-left: 5px; width: 90px;" class="third-column"></div>
    </div>
</script>
<script type="text/html" id="item-template">
    <div style="background-color: white; width: 500px; font-family: RobotoCondensed;">
        <div style="font-size: x-small; float: right">{{Group}}</div>
        <div style="font-size: x-small; float: left">{{SubGroup}}</div>
        <div style="clear: both">{{value}}</div>
    </div>
</script>


<script type="text/javascript">

    function clearInput() {
        $("#item_name").val("");
        $("#item_quantity").val("1");
        $("#add_item").attr('disabled', 'disabled');
        $("#item_name").typeahead('setQuery', '');
    }

    function validateSubmit() {
        if ($("#items_container").find('div').length === 0) {
            $("#submit_donations").attr('disabled', 'disabled');
        } else {
            $("#submit_donations").removeAttr('disabled');
        }
    }

    function removeItem() {
        $(this).parents("div.row").remove();
        validateSubmit();
    }

    function addItem() {
        var $tpl = $($("#row-template").html());
        $tpl.find(".first-column").append($("#item_quantity").val());
        $tpl.find(".second-column").append($("#item_name").val());
        $tpl.find(".third-column").append($("<div style='text-align:center'><i class='icon-remove-sign'></i><div>").click(removeItem));
        $("#items_container").append($tpl);
        clearInput();
        validateSubmit();
    }

    $("#item_name").bind("propertychange keyup input paste", function () {
        if ($("#item_name").val().length === 0) {
            $("#add_item").attr('disabled', 'disabled');
        } else {
            $("#add_item").removeAttr('disabled');
        }
    });

    $(".remove-item").click(function () {
        $(this).remove();
    });

    $("#add_item").click(addItem);

    $("#submit_donations").click(function () {
        $("#submit_donations").attr('disabled', 'disabled');
        var donations = [];
        $("#items_container").find(".row").each(function (index, el) {

            donations.push({
                Name: $(el).find('.second-column').text(),
                Number: $(el).find('.first-column').text()
            });
        });
        $.ajax({
            type: "POST",
            url: 'Submit',
            data: JSON.stringify(donations),
            contentType: 'application/json; charset=utf-8',
            success: function(data, textStatus, xhr) {
                $('body').html(data);
            }
        });
    });

    var itemTemplate = $("#item-template").html();
    $('#item_name').typeahead({
        name: 'Food',
        prefetch: '../data/foods.js',
        limit: 5,
        template: itemTemplate,
        engine: Hogan
    });

</script>
