@{
    ViewBag.Title = "Donate a meal";
}

<h1>Donate a meal</h1>
<p class="lead">Make a donation today to help our cause. Below are several key area's in which we need your support and your donations. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

<hr />
<div class="clearfix">
    <!-- Start Price -->
    <div class="third price">
        <h3>Pay for a meal<span>£10</span></h3>
        <div class="price-detail">
            <p><em>Provide a full meal for two people</em></p>
            <ul>
                <li>Carbs (pasta, rice, potatoes...)</li>
                <li>Proteins (meat, fish, eggs...)</li>
                <li>Veggies</li>
                <li>Fruit</li>
            </ul>
            <a class="btn" href="/donate/pay?what=meal">Donate Today</a>
        </div>
    </div>


    <!-- Start Price -->
    <div class="third price price-feature">
        <h3>Fix a family<span>£100</span></h3>
        <div class="price-detail">
            <p><em>Provides much needed fooe needed to sustain a family of four for a week.</em></p>
            <ul>
                <li>Carbs (pasta, rice, potatoes...)</li>
                <li>Proteins (meat, fish, eggs...)</li>
                <li>Veggies</li>
                <li>Fruit</li>
                <li>Cereals</li>
                <li>Milk</li>
                <li>Coffee</li>
            </ul>
            <a class="btn green-btn" href="/donate/pay?what=week">Donate Today</a>
        </div>
    </div>


    <!-- Start Price -->
    <div class="third price last">
        <h3>Do they know it's Christmas?<span>£150</span></h3>
        <div class="price-detail">
            <p><em>Give a posh Christmas dinner to a full-sized family of 12.</em></p>
            <ul>
                <li>Turkey</li>
                <li>Potatoes</li>
                <li>Stuffing</li>
                <li>Cranberry Sauce</li>
                <li>Sprouts</li>
                <li>Gravy</li>
            </ul>
            <a class="btn" href="/donate/pay?what=xmas">Donate Today</a>
        </div>
    </div>
</div>

<hr />

<!-- Message Box -->
<div class="message promo clearfix">
    <h4>Something else? Want to make a custom donation? <a href="#"><span>Make Custom Donation</span></a></h4>
</div>
