@using FreeFoodUs.Models

@model FreeFoodUs.Views.Food.FinderModel
@{
    ViewBag.Title = "Find Food";
    ViewBag.Nav = "food";
    var user = Session["User"] as User;
}
@if (Model.Results.Any())
{
    <h1>@Model.Results.Count results!</h1>
    <ul>
        @foreach (var p in Model.Results)
        {
            <li><a href="/food/acquire?id=@p.Id&people=@Model.People&meals=@Model.Meals">
                    <span style="display: inline-block;width:100px">
                        <img src="@p.ImageUrl" style="max-height: 25px;max-width: 90px"/>
                    </span> 
                    <span style="display: inline-block;width:200px">@p.Name</span> 
                    <span>@p.DistanceTo(Model.SearchLocation) km</span>
                </a></li>
        }
    </ul>
}
else
{
    <h1>Sorry, we can't help :-(</h1>
    <p>There seem to be no food available for now... come back later!</p>
}