@model FreeFoodUs.Views.Food.FinderModel
@{
    ViewBag.Title = "Find Food";
    ViewBag.Nav = "food";

}
@if (Model.Results.Any())
{
    <h1>@Model.Results.Count results!</h1>
    <ul>
        @foreach (var p in Model.Results)
        {
            <li><a href="/food/acquire?id=@p.Id">@p.Name</a> <img src="@p.ImageUrl" style="width: 150px"/></li>
        }
    </ul>
}
else
{
    <h1>Sorry, we can't help :-(</h1>
    <p>There seem to be no food available for now... come back later!</p>
}