@model List<FreeFoodUs.Models.FoodStock>

@{
    ViewBag.Title = "food";
    ViewBag.Nav = "food";

}

<h1>Hello Friend!</h1>
<p>Tell us more about your needs and we'll see what we can do.</p>
<form action="/food/finder" method="post">
    <label for="people">People that need a meal</label><input type="number" name="people" value="2" /><br />
    <label for="meals">Number of meals</label><input type="number" name="meals" value="1" /><br />
    <input type="submit" value="Find free food" />
</form>
